{% extends 'base.html' %}

{% block content %}
    <h1>{{ translations.banks_title }}</h1>
    
    <div class="map">
        <h2>{{translations.int_map}}</h2>
        <h5>{{translations.map_dod}}</h5>
        <iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d25692.547944767408!2d77.52119791963334!3d13.288334243380994!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1sbanks%20in%20Doddaballapura%2C%20Karnataka!5e0!3m2!1sen!2sin!4v1754475977188!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>

     <div class="map">
        
        <h5>{{translations.map_chik}}</h5>
        <iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d31059.58083165647!2d75.74844635041204!3d13.32240968406329!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1sbanks%20in%20chikkamagaluru%2C%20Karnataka!5e0!3m2!1sen!2sin!4v1754476027091!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>

    <div class="map">
        
        <h5>{{translations.map_rai}}</h5>
        <iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d21484.853926355394!2d77.34160658609528!3d16.201111040763376!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1sbanks%20in%20raichur%2C%20Karnataka!5e0!3m2!1sen!2sin!4v1754476067933!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
{% endblock %}