{% extends 'base.html' %}

{% block content %}
    <h1>{{ translations.helplines_title }}</h1>
    <ul class="list-group">
        <li class="list-group-item">
            <h5>{{translations.kcc}}</h5>
            <p><strong>{{translations.num}}:</strong> 1800-180-1551</p>
            <p><strong>{{translations.desc}}:</strong> {{ translations.helpline_kisan_desc }}</p>
        </li>
        <li class="list-group-item">
            <h5>{{translations.pmkisan}}</h5>
            <p><strong>{{translations.num}}:</strong> 155261 / 011-24300606</p>
            <p><strong>{{translations.desc}}:</strong> {{ translations.helpline_pmkisan_desc }}</p>
        </li>
        <li class="list-group-item">
            <h5>{{translations.agri}}</h5>
            <p><strong>{{translations.num}}:</strong> 011-24300607</p>
            <p><strong>{{translations.desc}}:</strong> {{ translations.helpline_ministry_desc }}</p>
        </li>
    </ul>
{% endblock %}